<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">

</head>
<body style="align-items: center; justify-content: center; display: flex; text-align: center;">
<div th:switch="${sections}" >
  <h2 th:case="null">No Sections yet!</h2>
  <div th:case="*" >
    <div style="background-color: #cbcbcb; width: auto; border-radius: 10px; outline: 2px solid #bdbbbb;">
      <h2 style="text-align: center;">Sections</h2>
    </div>
    <table class="pure-table pure-table-horizontal">
      <thead>
      <tr>
        <th>Name</th>
        <th>Threads</th>
       <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="section : ${sections}">
        <td> <a  th:text="${section.title}"  th:href="@{/show_threads/{id}(id=${section.id})}"></a></td>
        <td th:text="${section.numThreads}"></td>
        <td><a th:href="@{/edit_section/{id}(id=${section.id})}">Edit</a></td>
        <td><a th:href="@{/delete_section/{id}(id=${section.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a class="pure-button" href="/createsection" style="text-align: center;">Add a new Section</a></p>
</div>
</body>
</html>
